C:/User/SBTGlobal/Mendix/DynamicFramework-main/
.DS_Store
.idea
.vscode
dist
node_modules
.env
*.log
*.bak
*.launch
mxproject
coverage

**/results
mendixProject
**/e2e/diffs
**/screenshot
**/screenshot-results
**/tests/testProject
**/artifacts


# Custom Widget 빌드 파일 제외
**/node_modules/
**/dist/
**/package-lock.json
**/typings/
**/cypress/
**/.mpk/

# MPK 파일은 포함 (빌드된 위젯)
!**/*.mpk